#bigimg img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    margin-bottom: 20px;
}

button {
    border: none;
    background: none;
    cursor: pointer;
    margin: 5px;
}

button img {
    border: 2px solid transparent;
}

button img:hover {
    border: 2px solid blue;
}