#bigimg{
    background-image: url(https://rukminim2.flixcart.com/image/832/832/xif0q/mobile/m/c/j/-original-imahch2ktgtustdj.jpeg?q=70&crop=false);
    background-size: cover;
    height: 590px;
    width: 590px;
    
    
}